<!--@subject {{trans "Question Approved"}} @-->
{{template config_path="design/email/header_template"}}
<table style="float:left; margin-right: 10px" class="fue-abc-items">
   <tr>
       <td>
           <div class="greeting">Hi </div>
           <div>
               {{trans "I’m from Admin"}}
           </div>
       </td>
   </tr>
   <tr>
       <td>
           <div>
               {{trans "Your question has been approved!"}}
               <br>
               Question: 
               {{var question}}
               <br>
               Answer: 
               {{var answer}}
           </div>
       </td>
   </tr>
</table>
{{template config_path="design/email/footer_template"}}